body {
    background-color: radial-gradient(#011d63, #002238, #001425);
}

#etch-a-sketch {
    border-block: 65px solid rgb(221, 5, 5);
    border-inline: 55px solid (221, 5, 5);
    border-radius: 30px;
    box-shadow: 10px 10px 15px rgb(0, 0, 0);
    background-color: rgb(185, 183, 185);
    margin-inline: 200px;
    margin-top: 20px;
}

button {
    color: goldenrod;
    width: 220px;
    font-weight: bold;
    font-size: 18px;
    background-color: #002238;
    border-radius: 50px;
    display: block;
    padding: 5px;
    margin-inline: 455px;
    margin-top: 5px;
}

@keyframes shake {
    0% { transform: translateX(0); }
    20% { transform: translateX(-10px) rotate(-10deg); }
    30% { transform: translateX(10px) rotate(10deg); }
    50% { transform: translateX(-10px) rotate(-10deg); }
    60% { transform: translateX(10px) rotate(10deg); }
    80% { transform: translateX(-10px) rotate(-10deg); }
    100% { transform: translateX(0); }
}